<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/jobportal?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <mapping resource="com/uva/jobportal/entity/Company.hbm.xml"/>
    <mapping resource="com/uva/jobportal/entity/Candidate.hbm.xml"/>
    <mapping resource="com/uva/jobportal/entity/Job.hbm.xml"/>
    <mapping resource="com/uva/jobportal/entity/Inscription.hbm.xml"/>
    <mapping resource="com/uva/jobportal/entity/Profile.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
